<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <img src="/aaa.webp" alt="Bike Store Banner" class="banner">
        <h1><%= message %></h1>
        <a href="/"><img src="/home.jpg" alt="Home" class="cart-icon"></a>
    </header>
    <div class="container">
        <a class="cart-link" href="/">Back to Main Page</a>
    </div>
</body>
</html>
